/* Google Fonts - Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
.width-100 {
    width: 100%;
    float: left;
}

.margin-top-50 {
    margin-top: 50px;
}

.Do-rong-trang {
    max-width: 1480px;
    margin: 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    margin-top: 2px;
}

#logo img {
    width: 40px;
    height: auto;
    padding: 1px 1px;
}

.slider-width {
    width: 100%;
    height: auto;
    margin-top: 0px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ebecf1;
    color: #b3b9b9;
    /*overflow: hidden;*/
}


/*header */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    background-color: #7fccff;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.chen-logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.thanh-menu {
    flex: 3;
    display: flex;
}

.nav-links {
    flex: 2;
}

.logo {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span {
    font-weight: 300;
}

.nav-links>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link>a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link>a>i {
    margin-left: .2rem;
}

.nav-link:hover>a {
    transform: scale(1.1);
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 20rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul {
    position: relative;
}

.dropdown-link>a {
    display: flex;
    background-color: #fff;
    color: #3498db;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover>a {
    background-color: #3498db;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover~.arrow {
    background-color: #3498db;
}

.dropdown-link {
    position: relative;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    .hamburger-menu-container {
        display: flex;
    }
    #check {
        display: block;
    }
    .thanh-menu {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #69bde7;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
    #check:checked~.thanh-menu {
        transform: translateX(0);
    }
    #check:checked~.thanh-menu .nav-link {
        animation: animation .5s ease forwards var(--i);
    }
    .nav-links {
        flex: initial;
        width: 100%;
    }
    .nav-links>ul {
        flex-direction: column;
    }
    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }
    .nav-link>a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }
    .nav-link:hover>a {
        transform: scale(1);
        background-color: #50a9d6;
    }
    .dropdown {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #3183ac;
        display: none;
    }
    .nav-link:hover>.dropdown,
    .dropdown-link:hover>.dropdown {
        display: block;
    }
    .dropdown-link>a {
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }
    .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }
    .dropdown.second .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }
    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }
    .arrow {
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }
    .nav-link:hover .arrow {
        background-color: #50a9d6;
    }
    .dropdown .dropdown .arrow {
        display: none;
    }
    .dropdown-link:hover>a {
        background-color: #3a91bd;
    }
    .dropdown-link:first-child:hover~.arrow {
        background-color: #50a9d6;
    }
    .nav-link>a>i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }
    .styleSearchBar {
        align-items: left;
        margin-top: 20em;
    }
}


/* slide */

.main {
    /* tạo độ rộng slide*/
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper,
.slide {
    /* tạo kích thước slide phụ thuộc vào main*/
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    overflow: hidden;
}

.slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.slide .image {
    /* chèn hình vào slide*/
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* swiper button css */


/*nav-btn là gọi chung cho cả 2 nút sang trái phải, đây là chỉnh kích cỡ, màu sắc*/

.swiper-button-next {
    /*vị trí mũi tên next*/
    right: 50px;
}

.swiper-button-prev {
    /*vị trí mũi tên prev*/
    left: 50px;
}

.nav-btn::before,
.nav-btn::after {
    color: #fff;
}

.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
    .nav-btn {
        visibility: hidden;
    }
    .swiper-pagination-bullet {
        visibility: visible;
    }
}


/**/


/*nội dung bài viết*/

.hinh-anh {
    width: 70%;
    height: auto;
    margin: auto;
    background: #f7f7f7;
}

.hinh-anh .date {
    font-style: italic;
}

.hinh-anh img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tieu-de p {
    padding: 20px 0px;
    font-size: 28px;
    color: #000;
    font-weight: 650;
    text-align: center;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.noi-dung .bai-viet h1 {
    color: #000;
    text-align: justify;
}

.Rong-100 {
    width: 70%;
    padding: 0px 15px;
    margin: auto;
}

.list .item {
    background: #fff;
    border: 1px solid #e2efe1;
    margin: 10px;
    padding: 10px 20px;
    display: grid;
    align-items: center;
}

.list .item h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    text-align: justify;
}

@media (max-width: 768px) {
    .Rong-100 {
        width: 100%;
    }
}


/*FOOTER*/

.footer {
    background: #232F3E;
    padding: 50px 50px;
}

.width-50 {
    width: 50%;
    float: left;
}

.quicklink-heading {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.quicklink-menu {
    list-style: none;
    padding-left: 10px;
}

.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}

.get-in-touch {
    list-style: none;
    padding-left: 10px;
    color: #ffff;
}

.get-in-touch li {
    padding: 5px 0px;
}

.get-in-touch li i {
    color: #ed372c;
    font-size: 20px;
}

.footer-e-mail {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .width-50 {
        width: 100%;
    }
}